* {
  margin:0 0 0 0;
  padding:0 0 0 0;
  box-sizing: border-box;
}
#src1 {
  width:100vw;
  height:600px;
  position:absolute;
  top:1000px;
  left:0;
  z-index:-1;
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#backImg {
  position:absolute;
  left:0;
  top:0;
  max-width:100%;
  min-height:100%;
  opacity: 1;
  z-index:-55;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 2rem;
  outline: 0px solid green;
  background-color: #14213D;
  color:#fff;
  box-shadow: -2px 2px 10px hsl(0, 0%, 0%);
}
header div {
  display: flex;
  align-items: center;
  gap:1rem;
}
header h2 {
  cursor:default;
}
header h4 {
  color:green;
  cursor:default;
}
header button {
  color:gray;
  margin-left: auto;
  padding:0.2rem;
  border:none;
  cursor:pointer;
  border-radius: 3px;
}
header button:hover {
  color:#fff;
  background-color: gray;
  margin-left: auto;
}
nav {
  position:relative;
  z-index:99;
}
nav ul {
  transition: 0.5s ease;
  border-radius: 5px;
  overflow:hidden;
  position:absolute;
  top:100%;
  left:-50%;
}
nav span {
  letter-spacing: 130%;
  display:flex;
  color:gray;
  border:1px solid gray;
  background-color: #fff;
  padding:0.2rem;
  cursor:pointer;
  border-radius: 3px;
}
nav ul li {
  list-style: none;
  background-color:#fff;
  cursor:pointer;
  border:0px solid sandybrown;
}
nav ul li a {
  display: inline-flex;
  flex-basis: 0 0 0;
  text-decoration: none;
  border:2px solid white;
  color:gray;
  min-width:100%;
  padding:0.4rem 0.5rem;
  transition: 0.3s ease;
}
nav ul li:hover a {
  font-weight:bolder;
  border-left:2px solid gray;
  color:#fff;
  background-color: gray;
}
main {
  display: flex;
}
#allBoxes {
  outline: 0px solid red;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#allBoxes .outerBox {
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 15px;
  backdrop-filter: blur(20px);
}
.outerBox .box {
  outline: 0px groove rgb(14, 110, 294);
  padding:0.4rem 0.6rem;
  color:#000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 0;
  flex: 0 1 0;
  gap: 0.1rem;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 10px hsl(0, 0%, 0%);
  font-weight: 300;
}
.outerBox:hover .box {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px hsl(0, 0%, 0%);
  color: #fff;
  background-color: royalblue;
}
.outerBox .box .logo {
  width: clamp(12vmin, 15vmin, 17vmin);
  aspect-ratio: 1/1;
  border-radius: 15px;
  transition: transform 0.3s ease;
  margin-bottom:0.5rem;
}
.outerBox:hover .logo {
  transform: scale(1.2);
}
.outerBox .box .title {
  transition: transform 0.3s ease;
  font-size: 80%;
  border-bottom:1px solid gray;
}
.outerBox:hover .title {
  transform: scale(0.9);
}
.outerBox .box .line {
  height:3px;
  width:30%;
  background-color: peru;
  transition: width 0.3s ease;
}
.outerBox:hover .line {
  width: 100%;
  background-color: #fff;
}
.outerBox .box .description {
  transition: transform 0.3s ease;
  font-size: 70%;
}
.outerBox:hover .description {
  transform: scale(0.9);
}
